.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196f3;
  transition: 0.4s;
  z-index: 0;
  overflow: hidden;
  border-radius: 34px;
}

.sunMoon {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: yellow;
  transition: 0.4s;
  border-radius: 50%;
}

.switch input:checked + .slider {
  background-color: black;
}

.switch input:checked + .slider .sunMoon {
  transform: translateX(26px);
  background-color: white;
  animation: rotate-center 0.6s ease-in-out both;
}

.moonDot {
  opacity: 0;
  transition: 0.4s;
  fill: gray;
  position: absolute;
  z-index: 4;
}

.switch input:checked + .slider .sunMoon .moonDot {
  opacity: 1;
}

.lightRay {
  position: absolute;
  z-index: -1;
  fill: white;
  opacity: 0.1;
}

.cloudLight {
  position: absolute;
  fill: #eee;
  animation: cloud-move 6s infinite;
}

.cloudDark {
  position: absolute;
  fill: #ccc;
  animation: cloud-move 6s infinite 1s;
}

@keyframes cloud-move {
  0% {
    transform: translateX(0px);
  }
  40% {
    transform: translateX(4px);
  }
  80% {
    transform: translateX(-4px);
  }
  100% {
    transform: translateX(0px);
  }
}

.stars {
  transform: translateY(-32px);
  opacity: 0;
  transition: 0.4s;
}

.star {
  fill: white;
  position: absolute;
  transition: 0.4s;
  animation: star-twinkle 2s infinite;
}

.switch input:checked + .slider .stars {
  transform: translateY(0);
  opacity: 1;
}

@keyframes star-twinkle {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes rotate-center {
  0% {
    transform: translateX(0) rotate(0);
  }
  100% {
    transform: translateX(26px) rotate(360deg);
  }
}
